.c-button {
  border: 0;
  padding: 0.5rem;
  font-size: 12px;
  font-weight: 600;
  color: #223162;
  cursor: pointer;
  
  &--primary {
    background-color: #f4e58d;
  }

  &--secondary {
    background-color: #eaecf2;
  }

  &--tertiary {
    background-color: transparent;
    text-decoration: underline;
  }

  &--fullwidth {
    width: 100%;
  }
}